{
"datacenter": "{{consul_datacenter}}",
"data_dir": "{{consul_data_dir}}",
 "encrypt": "{{consul_encrypt_key}}",
"log_level": "DEBUG",
"server": true,
"bootstrap_expect": {{ groups['consul_servers'] | length }},
"ui": true,
"node_name": "{{ ansible_hostname }}",
"advertise_addr": "{{ inventory_hostname }}",
"client_addr": "0.0.0.0",
"bind_addr": "0.0.0.0",
"retry_join": [
{% for host in groups['consul_servers'] %}
  "{{hostvars[host]['inventory_hostname']}}"{{ "," if not loop.last else ""}}
{% endfor %}
  ],
"enable_syslog": true,
"acl_enforce_version_8": false
{% if consul_use_tls %}
,
"ports": {
    "https": 8501
 },
"key_file": "/etc/consul.d/tls/{{ consul_datacenter }}-server-consul-0-key.pem",
"cert_file": "/etc/consul.d/tls/{{ consul_datacenter }}-server-consul-0.pem",
"ca_file": "/etc/consul.d/tls/consul-agent-ca.pem"
{% endif %}
{% if consul_use_acl %}
,
"acl": {
  "enabled": true,
  "default_policy": "deny",
  "enable_token_persistence": true
 }
{% endif %}
}